[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "==3.2.0"
requests = "==2.23.0"
aiohttp = "*"

[dev-packages]
pytest = "*"
aioresponses = "*"

[requires]
python_version = "3.7"
